{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    Flask Demo - Single Thing

{% endblock %}


{% block content %}

        <footer>

            {# Only show delete link if logged in AND owner #}
            {% if session.user_id and (thing.user_id == session.user_id) %}
                <a href=/incomplete/{{ task.id }}>
                    []
                </a>

                    
            {% else %}

                <a href=/complete/{{ task.id }}>
                    [X]
                </a>

            {% endif %}

        </footer>

    </article>

{% endblock %}

