{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    TODO - List of Tasks

{% endblock %}


{% block content %}

    <h1>Tasks</h1>


    <article>

        <ul>
            {% for task in tasks %}

                <li>
                    <a>
                        <strong>{{ tasks.name }}</strong> - owned by {{ users.id }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

    <h1>Completed Tasks</h1>


    <article>

        <ul>
            {% for task in Tasks %}

                <li>
                    <a href="/thing/{{ thing.id }}">
                        <strong>{{ thing.name }}</strong> - owned by {{ thing.owner }}
                    </a>
                </li>

            {% else %}

                <p>None!</p>

            {% endfor %}
        </ul>

    </article>

    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <article>

            <h3>Add new task</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Insert new task here"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="0"
                    placeholder="Priority"
                    required
                >

                <button>Add task</button>

            </form>

        </article>

    {% endif %}

{% endblock %}