{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    TODO - List of Tasks

{% endblock %}


{% block content %}

    <h1>Tasks</h1>


    <article>

        <ul>
            {% for task in tasks %}
            <p class="task">
                <span class="priority">{{ task.priority }}</span>
                <span class="name">{{ task.name }}</span>
                <span class="status">
                    {% if task.completed %}
                        <a href=/incomplete/{{ task.id }}>
                        []
                        </a>

                    
                    {% else %}

                        <a href=/complete/{{ task.id }}>
                        [X]
                        </a>

                    {% endif %}
            
                </span>
            </p>

            {% else %}

                <p>Currently no task Up!</p>

            {% endfor %}
        </ul>

    </article>

    <h1>Completed Tasks</h1>


    <article>

        <ul>
            {% for task in Tasks %}

            
            {% else %}

                <p>No Task Completed</p>

            {% endfor %}
        </ul>
    </article>

    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <article>

            <h3>Add new task</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Insert new task here"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="0"
                    placeholder="Priority 1-5"
                    required
                >

                <button>Add task</button>

            </form>

        </article>

    {% endif %}

{% endblock %}