{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    TODO - List of Tasks

{% endblock %}


{% block content %}

    <h1>Tasks</h1>


    <article>

        <ul>
            {% for task in tasks %}
                {% if task.completed == false %}     
                    <p class="task">
                    <span class="priority">{{ task.priority }}</span>
                    <span class="name">{{ task.name }}</span>
                    <span class="status">

                            <a href=/complete/{{ task.id }}>
                            ⬜
                            </a>

                    </span>
            {% endif %}
            </p>

            {% else %}

                <p>Currently no task Up!</p>

            {% endfor %}
        </ul>

    </article>

   <article>

    <h2>Completed Tasks</h2>

        <ul>
            {% for task in tasks %}
            {% if task.completed %}
                <p class="task">
                    <span class="priority">{{ task.priority }}</span>
                    <span class="name">{{ task.name }}</span>
                    <span class="status">
                        
                        <a href=/incomplete/{{ task.id }}>
                        ✅
                        </a>

                        <a href="/delete/{{ tasks.id }}" onclick="return confirm('Do you really want to delete it');">Delete</a>
                    </span>
                </p>
            {% endif %}
            {% endfor%}
        </ul>    
   </article>

    {# Only show form if user is logged in #}
    {% if session.user_id %}

        <article>

            <h3>Add new task</h3>

            <form action="/add" method="POST">

                <input
                    type="text"
                    name="name"
                    placeholder="Insert new task here"
                    required
                >

                <input
                    type="number"
                    name="priority"
                    min="0"
                    placeholder="Priority 1-5"
                    required
                >

                <button>Add task</button>

            </form>

        </article>

    {% endif %}

{% endblock %}