{#=====================================================
  Thing page
  - Shows details of a single thing
  - Has a delete link to remove it
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

  List Of task

{% endblock %}


{% block content %}

  <section id="Welcome">

    <h1>Welcome to the TO-DO website. This website will allow you to make and create task. It also tracks your progress on which task you completed.</h1>

  </section>
  
  <section id="info">

    <p> To get list of task to show pls  <a href="/login"> Login </a>   or if you dont have a Account you can  <a href="/register"> Register.</a></p>

  </section>  
{% endblock %}

